
div {
    margin-bottom: 1rem;
}
label, input {
    margin-bottom: 0.5rem;
}
div.container{
    display: grid;
    width: 500px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}
div.venntabell {
    border: 1px solid black;
    padding: 1em;
    margin: 0;
}